footer {
    color: rgba(255, 255, 255, 1);
    /* background-color: rgb(136, 202, 231); */
    background-color: rgba(15, 9, 9, 0.811);
   
    padding: 1% 11%;
    padding-bottom: 0px;
}
.contain {
    display: flex;
    justify-content: space-between;    
}
.contactInfo{
    width: 70%;
    line-height: 30px;
    padding-bottom: 15px;
}
.contactInfo h1{
    margin-bottom: 20px;
    font-size: 40px;
}
.socialLink{
    display: flex;
    width: 33%;
    justify-content: space-around;
    place-items: center;
    padding-left: 400px;
    padding-right: 400px;
    gap: 20px;
}
.copyRight{
    /* background-color: rgb(217, 203, 52); */
    background-color: rgb(255, 0, 0);
    text-align:center;
    color: rgb(0,0,0);
    border-radius: 0px;
}
